<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tw.taichung.joonkuiliew.ieeb_building">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".tourActivity" />
        <activity android:name=".Floor_tourActivity" />
        <activity android:name=".IntroductionActivity" />
        <activity
            android:name=".ScrollingintroductionphotoActivity"
            android:label="@string/title_activity_scrollingintroductionphoto"
            android:theme="@style/AppTheme" />
        <activity android:name=".Introduction_detalActivity" />
        <activity
            android:name=".HistoryScrollingActivity"
            android:label="@string/title_activity_history_scrolling"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".DepartmentScrollingActivity"
            android:label="@string/title_activity_department_scrolling"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Department_detailScrollingActivity"
            android:label="@string/title_activity_department_detail_scrolling"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Dean_ScrollingActivity"
            android:label="@string/title_activity_dean__scrolling"
            android:theme="@style/AppTheme" />
        <activity android:name=".OtherFacilityActivity" />
        <activity android:name=".OfficeActivity" />
        <activity android:name=".TourActivity" />
        <activity android:name=".TeacherActivity"></activity>
    </application>

</manifest>